/* .card {
  border: 1px solid rgb(117, 70, 0);
  border-radius: 0.5rem;
  padding: 10px;
  width: 100%;
} */

/* body {
  background: #a1aac3;
  font-family: 'Varela Round', sans-serif;
} */

.card {
  /* background: #1f2124; */
  background: #6e411d;
  box-shadow: 2px 2px 20px rgba(63, 55, 55, 0.4);
  border-radius: 0.4rem;
  margin: 1.1rem;
  width: 93.5%;
  padding: 20px;
  text-align: center;
  color: white;
  float: left;
}

.see-answers {
  text-decoration: none;
  color: #fc9f36e6;
}

.card:hover {
  background-color: rgba(11, 11, 11, 0.421);
}

.card-edit {
  text-align: right;
}

.question-created {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-dislike {
  display: flex;
}

.del-edit {
  display: flex;
}

Button {
  margin-right: 10px;
}
